:root {
  --blue-bright: #22a6f1;
  --blue-dark: #1b7acd;
  --blue-darkest: #1659a1;
  --blue-light: #b0d9ff;
  --blue-lightest: #dff4ff;
  --blue-medium: #5ca2f2;
  --blue-medium-light: #82c5ff;
  --blue-soft: #8cd1f7;
  --electric-blue-bright: #4363ff;
  --electric-blue-soft: #8397ff;
  --green-bright: #36d074;
  --green-dark: #36974e;
  --green-darkest: #176034;
  --green-light: #7ce9a8;
  --green-lighter: #c2f9d0;
  --green-lightest: #e9fcf1;
  --green-medium: #269d56;
  --green-medium-dark: #2c9054;
  --green-medium-light: #5bd48b;
  --grey-dark: #717171;
  --grey-dark-deep: #2e2e2e;
  --grey-darker: #3c3c3c;
  --grey-darkest: #2c2c2c;
  --grey-deepest: #131313;
  --grey-light: #d9d9d9;
  --grey-lighter: #eff1ee;
  --grey-lightest: #f7f7f7;
  --grey-medium: #b2b2b2;
  --grey-medium-light: #d4d4d4;
  --grey-moderate: #8f8f8f;
  --grey-neutral: #c2c2c2;
  --grey-soft: #e0e0e0;
  --grey-white: #fefefe;
  --grey-white-soft: #fafafa;
  --orange-bright: #ec926b;
  --orange-dark: #dc7e55;
  --orange-lighter: #ffdfd2;
  --orange-lightest: #ffe8df;
  --orange-medium: #f5a27e;
  --orange-soft: #fbc3ac;
  --pink-bright: #ff7fd3;
  --pink-dark: #e550b2;
  --pink-light: #ffccec;
  --pink-lighter: #ffdff4;
  --pink-lightest: #ffeef9;
  --pink-medium: #ff8cd7;
  --pink-medium-light: #ffa7e1;
  --purple-bright: #7854f0;
  --purple-dark: #6547ca;
  --purple-light: #d9cdff;
  --purple-light-medium: #cdbffb;
  --purple-lighter: #f4edfe;
  --purple-lightest: #eee9ff;
  --purple-medium: #8966fb;
  --purple-soft: #ad95fd;
  --red-bright: #fa4666;
  --red-dark: #c81b3a;
  --red-darker: #a90522;
  --red-deepest: #442a2f;
  --red-lightest: #ffeaee;
  --red-soft: #ff6d87;
  --yellow-bright: #ffd941;
  --yellow-dark: #d1b132;
  --yellow-darker: #9b7b08;
  --yellow-lightest: #fffae7;
  --yellow-medium: #f3c41a;
  --yellow-medium-light: #ffe682;
  --yellow-soft: #fff4c8;
}